/* Variables */
/* :root {
    
} */

/* Default Style Properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    max-width: 1600px;
}

/* Header Content Style Properties */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 40px;
}

/* Main Content Style Properties */ 
main {
    padding-left: 100px;
}

#game-name {

}

#countdown-timer {

}

#start-screen {

}

#start-button {

}

#questions {

}

#questions-title {

}

#questions-choice {

}

#feedback-answers {

}

.high-scores {

}

.begin {

}

.hidden {
    
}